<div class="link-tree-container">
  <app-header [author]="config.author" [bio]="config.bio"></app-header>
  <div class="categories">
    @for (category of categories; track category.title) {
      <p-card [header]="category.title" [style]="{ 'margin-bottom': '1.5rem' }">
        <div class="link-grid">
          @for (link of category.links; track link.name) {
            <div
              pRipple
              class="link-card p-ripple"
              (click)="openLink(link.url)"
              [pTooltip]="link.description"
              tooltipPosition="top"
            >
              <div class="link-content">
                <i [ngClass]="link.icon" style="font-size: 1.5rem"></i>
                <span class="link-name">{{ link.name }}</span>
              </div>
            </div>
          }
        </div>
      </p-card>
    }
  </div>

  <app-footer></app-footer>
</div>
